In [274]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/flight-price-prediction-dataset/Data_Train.xlsx
/kaggle/input/flight-price-prediction-dataset/Test_set.xlsx

**Flight Price Prediction**

In [275]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [276]:
data_train=pd.read_excel('/kaggle/input/flight-price-prediction-dataset/Data_Train.xlsx')
data_test=pd.read_excel('/kaggle/input/flight-price-prediction-dataset/Test_set.xlsx')

In [277]:
data_train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [278]:
data_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [279]:
final_df=pd.concat([data_train,data_test],ignore_index=True)
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [280]:
final_df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
13349,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
13350,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
13351,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
13352,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
13353,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [281]:
final_df.shape

(13354, 11)

In [282]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.1+ MB

In [283]:
final_df['Date_of_Journey']=pd.to_datetime(final_df['Date_of_Journey'])
final_df['Date_of_Journey']

/tmp/ipykernel_55/1104412380.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  final_df['Date_of_Journey']=pd.to_datetime(final_df['Date_of_Journey'])

0       2019-03-24
1       2019-05-01
2       2019-06-09
3       2019-05-12
4       2019-03-01
           ...
13349   2019-06-06
13350   2019-03-27
13351   2019-03-06
13352   2019-03-06
13353   2019-06-15
Name: Date_of_Journey, Length: 13354, dtype: datetime64[ns]

In [284]:
final_df['Year']=final_df['Date_of_Journey'].dt.year
final_df['Month']= final_df['Date_of_Journey'].dt.month
final_df['Date']= final_df['Date_of_Journey'].dt.day
final_df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Year,Month,Date
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,2019,3,24
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,2019,5,1

In [285]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  datetime64[ns]
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Year             13354 non-null  int32
 12  Month            13354 non-null  int32
 13  Date             13354 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(3), object(9)
memory usage: 1.3+ MB

In [286]:
final_df.drop('Date_of_Journey',axis=1,inplace=True)

In [287]:
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Year,Month,Date
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,2019,3,24
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,2019,5,1

In [288]:
#final_df['Arrival_Time']=final_df['Arrival_Time'].apply(lambda x:x.split(' ')[0])
final_df['Arrival_Time']=final_df['Arrival_Time'].str.split(' ').str[0]

In [289]:
final_df['Arrival_hour']=final_df['Arrival_Time'].str.split(':').str[0]
final_df['Arrival_min']=final_df['Arrival_Time'].str.split(':').str[1]

In [290]:
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Year,Month,Date,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,2019,3,24,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,2019,5,1,13,15

In [291]:
final_df['Arrival_hour']=final_df['Arrival_hour'].astype(int)
final_df['Arrival_min']=final_df['Arrival_min'].astype(int)

In [292]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Year             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Date             13354 non-null  int32
 13  Arrival_hour     13354 non-null  int64
 14  Arrival_min      13354 non-null  int64
dtypes: float64(1), int32(3), int64(2), object(9)
memory usage: 1.4+ MB

In [293]:
final_df.drop('Arrival_Time',axis=1,inplace=True)

In [294]:
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Year,Month,Date,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,2019,3,24,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,2019,5,1,13,15

In [295]:
final_df['Dep_Hour']=final_df['Dep_Time'].str.split(':').str[0]
final_df['Dep_Min']=final_df['Dep_Time'].str.split(':').str[1]

In [296]:
final_df['Dep_Hour']=final_df['Dep_Hour'].astype(int)
final_df['Dep_Min']=final_df['Dep_Min'].astype(int)

In [297]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Duration         13354 non-null  object
 6   Total_Stops      13353 non-null  object
 7   Additional_Info  13354 non-null  object
 8   Price            10683 non-null  float64
 9   Year             13354 non-null  int32
 10  Month            13354 non-null  int32
 11  Date             13354 non-null  int32
 12  Arrival_hour     13354 non-null  int64
 13  Arrival_min      13354 non-null  int64
 14  Dep_Hour         13354 non-null  int64
 15  Dep_Min          13354 non-null  int64
dtypes: float64(1), int32(3), int64(4), object(8)
memory usage: 1.5+ MB

In [298]:
final_df.drop('Dep_Time',axis=1,inplace=True)

In [299]:
final_df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Year,Month,Date,Arrival_hour,Arrival_min,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,2019,3,24,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,2019,5,1,13,15,5,50

In [300]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [301]:
final_df[final_df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Year,Month,Date,Arrival_hour,Arrival_min,Dep_Hour,Dep_Min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,2019,5,6,9,25,9,45

In [302]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':2})
final_df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Year,Month,Date,Arrival_hour,Arrival_min,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897.0,2019,3,24,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662.0,2019,5,1,13,15,5,50

In [303]:
final_df.drop('Route',axis=1,inplace=True)

In [304]:
final_df.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Year,Month,Date,Arrival_hour,Arrival_min,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,2019,3,24,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,2019,5,1,13,15,5,50

In [305]:
def duration_to_minutes(duration):
    hours=0
    minutes=0
    
    if 'h' in duration:
        hours= int(duration.split('h')[0])
        if 'm' in duration:
         minutes=int(duration.split('h')[1].replace('m','').strip())
    else:
        if 'm' in duration:
         minutes=int(duration.replace('m','').strip())
        
    return hours*60+minutes

In [306]:
final_df['Duration_Minutes']=final_df['Duration'].apply(duration_to_minutes)

In [307]:
final_df.drop('Duration',axis=1,inplace=True)

In [308]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13354 non-null  object
 1   Source            13354 non-null  object
 2   Destination       13354 non-null  object
 3   Total_Stops       13353 non-null  float64
 4   Additional_Info   13354 non-null  object
 5   Price             10683 non-null  float64
 6   Year              13354 non-null  int32
 7   Month             13354 non-null  int32
 8   Date              13354 non-null  int32
 9   Arrival_hour      13354 non-null  int64
 10  Arrival_min       13354 non-null  int64
 11  Dep_Hour          13354 non-null  int64
 12  Dep_Min           13354 non-null  int64
 13  Duration_Minutes  13354 non-null  int64
dtypes: float64(2), int32(3), int64(5), object(4)
memory usage: 1.3+ MB

In [309]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [310]:
final_df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [311]:
final_df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [312]:
final_df=pd.get_dummies(final_df,columns=['Airline','Source','Destination'],drop_first=True,dtype=int)

In [313]:
final_df.head()

,Total_Stops,Additional_Info,Price,Year,Month,Date,Arrival_hour,Arrival_min,Dep_Hour,Dep_Min,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0.0,No info,3897.0,2019,3,24,1,10,22,20,...,0,0,0,0,0,0,0,0,0,1
1,2.0,No info,7662.0,2019,5,1,13,15,5,50,...,0,0,0,1,0,0,0,0,0,0
2,2.0,No info,13882.0,2019,6,9,4,25,9,25,...,0,0,1,0,0,1,0,0,0,0
3,1.0,No info,6218.0,2019,5,12,23,30,18,5,...,0,0,0,1,0,0,0,0,0,0
4,1.0,No info,13302.0,2019,3,1,21,35,16,50,...,0,0,0,0,0,0,0,0,0,1

In [314]:
final_df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

Here, I observed No info and No Info so I would like to observe it first and clean

In [315]:
final_df[final_df['Additional_Info']== 'No Info']

,Total_Stops,Additional_Info,Price,Year,Month,Date,Arrival_hour,Arrival_min,Dep_Hour,Dep_Min,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
795,1.0,No Info,8153.0,2019,3,1,21,50,16,55,...,0,0,0,0,0,0,0,0,0,1
2212,1.0,No Info,7917.0,2019,3,1,20,35,16,15,...,0,0,0,0,0,0,0,0,0,1
9220,1.0,No Info,8064.0,2019,3,1,10,0,5,15,...,0,0,0,0,0,0,0,0,0,1

In [316]:
final_df[final_df['Additional_Info']== 'No info']

,Total_Stops,Additional_Info,Price,Year,Month,Date,Arrival_hour,Arrival_min,Dep_Hour,Dep_Min,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0.0,No info,3897.0,2019,3,24,1,10,22,20,...,0,0,0,0,0,0,0,0,0,1
1,2.0,No info,7662.0,2019,5,1,13,15,5,50,...,0,0,0,1,0,0,0,0,0,0
2,2.0,No info,13882.0,2019,6,9,4,25,9,25,...,0,0,1,0,0,1,0,0,0,0
3,1.0,No info,6218.0,2019,5,12,23,30,18,5,...,0,0,0,1,0,0,0,0,0,0
4,1.0,No info,13302.0,2019,3,1,21,35,16,50,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13349,1.0,No info,NaN,2019,6,6,20,25,20,30,...,0,0,0,1,0,0,0,0,0,0
13350,0.0,No info,NaN,2019,3,27,16,55,14,20,...,0,0,0,1,0,0,0,0,0,0
13351,1.0,No info,NaN,2019,3,6,4,25,21,50,...,0,0,1,0,0,1,0,0,0,0
13352,1.0,No info,NaN,2019,3,6,19,15,4,0,...,0,0,1,0,0,1,0,0,0,0
13353,1.0,No info,NaN,2019,6,15,19,15,4,55,...,0,0,1,0,0,1,0,0,0,0

unifying case first

In [317]:
final_df['Additional_Info']=final_df['Additional_Info'].str.lower()

In [318]:
final_df['Additional_Info'].unique()

array(['no info', 'in-flight meal not included',
       'no check-in baggage included', '1 short layover',
       '1 long layover', 'change airports', 'business class',
       'red-eye flight', '2 long layover'], dtype=object)

In [319]:
final_df['Additional_Info'].value_counts()

Additional_Info
no info                         10496
in-flight meal not included      2426
no check-in baggage included      396
1 long layover                     20
change airports                     8
business class                      5
1 short layover                     1
red-eye flight                      1
2 long layover                      1
Name: count, dtype: int64

In [320]:
final_df=pd.get_dummies(final_df,columns=['Additional_Info'],drop_first=True,dtype=int)

In [321]:
final_df.head()

,Total_Stops,Price,Year,Month,Date,Arrival_hour,Arrival_min,Dep_Hour,Dep_Min,Duration_Minutes,...,Destination_Kolkata,Destination_New Delhi,Additional_Info_1 short layover,Additional_Info_2 long layover,Additional_Info_business class,Additional_Info_change airports,Additional_Info_in-flight meal not included,Additional_Info_no check-in baggage included,Additional_Info_no info,Additional_Info_red-eye flight
0,0.0,3897.0,2019,3,24,1,10,22,20,170,...,0,1,0,0,0,0,0,0,1,0
1,2.0,7662.0,2019,5,1,13,15,5,50,445,...,0,0,0,0,0,0,0,0,1,0
2,2.0,13882.0,2019,6,9,4,25,9,25,1140,...,0,0,0,0,0,0,0,0,1,0
3,1.0,6218.0,2019,5,12,23,30,18,5,325,...,0,0,0,0,0,0,0,0,1,0
4,1.0,13302.0,2019,3,1,21,35,16,50,285,...,0,1,0,0,0,0,0,0,1,0

In [322]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 38 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Total_Stops                                   13353 non-null  float64
 1   Price                                         10683 non-null  float64
 2   Year                                          13354 non-null  int32
 3   Month                                         13354 non-null  int32
 4   Date                                          13354 non-null  int32
 5   Arrival_hour                                  13354 non-null  int64
 6   Arrival_min                                   13354 non-null  int64
 7   Dep_Hour                                      13354 non-null  int64
 8   Dep_Min                                       13354 non-null  int64
 9   Duration_Minutes                              13354 non-null  int64
 10  Airline_Air India                             13354 non-null  int64
 11  Airline_GoAir                                 13354 non-null  int64
 12  Airline_IndiGo                                13354 non-null  int64
 13  Airline_Jet Airways                           13354 non-null  int64
 14  Airline_Jet Airways Business                  13354 non-null  int64
 15  Airline_Multiple carriers                     13354 non-null  int64
 16  Airline_Multiple carriers Premium economy     13354 non-null  int64
 17  Airline_SpiceJet                              13354 non-null  int64
 18  Airline_Trujet                                13354 non-null  int64
 19  Airline_Vistara                               13354 non-null  int64
 20  Airline_Vistara Premium economy               13354 non-null  int64
 21  Source_Chennai                                13354 non-null  int64
 22  Source_Delhi                                  13354 non-null  int64
 23  Source_Kolkata                                13354 non-null  int64
 24  Source_Mumbai                                 13354 non-null  int64
 25  Destination_Cochin                            13354 non-null  int64
 26  Destination_Delhi                             13354 non-null  int64
 27  Destination_Hyderabad                         13354 non-null  int64
 28  Destination_Kolkata                           13354 non-null  int64
 29  Destination_New Delhi                         13354 non-null  int64
 30  Additional_Info_1 short layover               13354 non-null  int64
 31  Additional_Info_2 long layover                13354 non-null  int64
 32  Additional_Info_business class                13354 non-null  int64
 33  Additional_Info_change airports               13354 non-null  int64
 34  Additional_Info_in-flight meal not included   13354 non-null  int64
 35  Additional_Info_no check-in baggage included  13354 non-null  int64
 36  Additional_Info_no info                       13354 non-null  int64
 37  Additional_Info_red-eye flight                13354 non-null  int64
dtypes: float64(2), int32(3), int64(33)
memory usage: 3.7 MB

In [323]:
final_df.shape

(13354, 38)