#Pandas
Python library built on top of Numpy

Used in: Data Analysis; Data Science; Machine Learning

Using pandas we work with Series; DataFrame

In [1]:
import pandas as pd
#print(pd.__version__)

#Series
pandas 1-dimensional labeled array that can hold any data type [think series like a single column in a spreadsheet]

In [3]:
data=[100,200,300]
series=pd.Series(data,index=["a","b","c"])
print(series)

#loc : location by label

print(series.loc['a'])
print(series.loc['c'])

#series.loc['d'] Key error as d dont exist

#iloc : integer location
print(series.iloc[2])

a    100
b    200
c    300
dtype: int64
100
300
300

#Filter by value

In [4]:
data=[100,102,104,200,202]
series=pd.Series(data,index=["a","b","c","d","e"])
print(series[series>=200])

d    200
e    202
dtype: int64

In [5]:
import pandas as pd
calories={'day1':1750,'day2':560,'day3':2100,'day4':1700}
series=pd.Series(calories)

#accesing data from series
#print(series.loc['day1'])
#print(series.iloc[1])

#updating data in series
#series.loc['day3']=9000
#print(series)

#filter by values
print(series[series>=2000])

day3    2100
dtype: int64

#DataFrames
A tabular data structure with rows and columns.(2dimensional)  [similar to excel spredsheet]

In [6]:
import pandas as pd
data={
    'Name':['Ajita','Jake','Suno'],
    'Age':[25,23,21],
      }
df=pd.DataFrame(data,index=['Employee1','Employee2','Employee3'])
print(df)

#Acessing single row through loc
#df.loc['Employee1']

#Acessing single row through iloc
#df.iloc[2]

#Add new column in dataframe
df['Department']=['ML','Data Analyst','Cook']
#print(df)

#Add a new row
#new_row=pd.DataFrame([{'Name':'Sandy','Age':27,'Department':'Engineer'}],index=['Employee4'])
#df=pd.concat([df,new_row])


#Multiple rows add
new_row=pd.DataFrame([{'Name':'Sandy','Age':27,'Department':'Engineer'},
                      {'Name':'Jack','Age':25,'Department':'ML'},
                      {'Name':'Radha','Age':22,'Department':'AI'}],
                     index=['Employee4','Employee5','Employee6'])
df=pd.concat([df,new_row])
print(df)

            Name  Age
Employee1  Ajita   25
Employee2   Jake   23
Employee3   Suno   21
            Name  Age    Department
Employee1  Ajita   25            ML
Employee2   Jake   23  Data Analyst
Employee3   Suno   21          Cook
Employee4  Sandy   27      Engineer
Employee5   Jack   25            ML
Employee6  Radha   22            AI

#Importing

CSV FILE AND JSON FILE

In [8]:
#reading csv file

import pandas as pd
df=pd.read_csv('Salary Data.csv')
print(df)  #print truncated data
#to print all data use; df.to_string()

      Age  Gender Education Level                      Job Title  \
0    32.0    Male      Bachelor's              Software Engineer
1    28.0  Female        Master's                   Data Analyst
2    45.0    Male             PhD                 Senior Manager
3    36.0  Female      Bachelor's                Sales Associate
4    52.0    Male        Master's                       Director
..    ...     ...             ...                            ...
370  35.0  Female      Bachelor's       Senior Marketing Analyst
371  43.0    Male        Master's         Director of Operations
372  29.0  Female      Bachelor's         Junior Project Manager
373  34.0    Male      Bachelor's  Senior Operations Coordinator
374  44.0  Female             PhD        Senior Business Analyst

     Years of Experience    Salary
0                    5.0   90000.0
1                    3.0   65000.0
2                   15.0  150000.0
3                    7.0   60000.0
4                   20.0  200000.0
..                   ...       ...
370                  8.0   85000.0
371                 19.0  170000.0
372                  2.0   40000.0
373                  7.0   90000.0
374                 15.0  150000.0

[375 rows x 6 columns]

#JSON

to read JSON FILE:

df=pd.read_json("data.json")
print(df.to_string())

#Selection

In [10]:
import pandas as pd
df=pd.read_csv('Salary Data.csv')

#Selection by column
#print(df['Age'])
#print(df['Age'].to_string())

#print(df[['Age','Salary']].to_string())

#Selection by row/s
print(df.loc[1])

print(df.iloc[0:11:2])
print(df.iloc[0:11:2,0:3])  #[row,col]

Age                            28.0
Gender                       Female
Education Level            Master's
Job Title              Data Analyst
Years of Experience             3.0
Salary                      65000.0
Name: 1, dtype: object
     Age  Gender Education Level              Job Title  Years of Experience  \
0   32.0    Male      Bachelor's      Software Engineer                  5.0
2   45.0    Male             PhD         Senior Manager                 15.0
4   52.0    Male        Master's               Director                 20.0
6   42.0  Female        Master's        Product Manager                 12.0
8   26.0  Female      Bachelor's  Marketing Coordinator                  1.0
10  29.0    Male        Master's     Software Developer                  3.0

      Salary
0    90000.0
2   150000.0
4   200000.0
6   120000.0
8    45000.0
10   75000.0
     Age  Gender Education Level
0   32.0    Male      Bachelor's
2   45.0    Male             PhD
4   52.0    Male        Master's
6   42.0  Female        Master's
8   26.0  Female      Bachelor's
10  29.0    Male        Master's

#Filtering

keeping the rows that match a condition

In [11]:
import pandas as pd
df=pd.read_csv('Salary Data.csv')

#print(df[df['Age']>32])

#filter2= df[df['Gender']=='Male']
#print(filter2)

filter3=df[(df['Education Level']=="Bachelor's") | (df['Education Level']=="Master's")]
print(filter3)

      Age  Gender Education Level                      Job Title  \
0    32.0    Male      Bachelor's              Software Engineer
1    28.0  Female        Master's                   Data Analyst
3    36.0  Female      Bachelor's                Sales Associate
4    52.0    Male        Master's                       Director
5    29.0    Male      Bachelor's              Marketing Analyst
..    ...     ...             ...                            ...
369  33.0    Male      Bachelor's        Junior Business Analyst
370  35.0  Female      Bachelor's       Senior Marketing Analyst
371  43.0    Male        Master's         Director of Operations
372  29.0  Female      Bachelor's         Junior Project Manager
373  34.0    Male      Bachelor's  Senior Operations Coordinator

     Years of Experience    Salary
0                    5.0   90000.0
1                    3.0   65000.0
3                    7.0   60000.0
4                   20.0  200000.0
5                    2.0   55000.0
..                   ...       ...
369                  4.0   60000.0
370                  8.0   85000.0
371                 19.0  170000.0
372                  2.0   40000.0
373                  7.0   90000.0

[322 rows x 6 columns]

#Aggregation

reduces a set of values to a single summary value

used to summarize and analyze data  

often used with the groupby() function

In [12]:
import pandas as pd
df=pd.read_csv('Salary Data.csv')

#whole dataframe
#print(df.mean(numeric_only=True))
#print(df.sum(numeric_only=True))
#print(df.min(numeric_only=True))
#print(df.max(numeric_only=True))
#print(df.count())

#Single column
#print(df['Age'].mean())
#print(df['Age'].min())
#print(df['Age'].max())
#print(df['Age'].sum())
#print(df['Salary'].count())

group=df.groupby('Education Level')
print(group)  #return object so we use groupby with agregate function
print(group['Age'].mean())
print(group['Salary'].min())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001744E51C770>
Education Level
Bachelor's    34.312500
Master's      40.765306
PhD           44.725490
Name: Age, dtype: float64
Education Level
Bachelor's       350.0
Master's       40000.0
PhD           110000.0
Name: Salary, dtype: float64

#Data Cleaning

the process of removing/fixing:       
incomplete, incorrect, or irrelevant data

~75% of work done with Pandas is data cleaning

In [13]:
'''
1. Drop irrelevant columns

df.drop(columns=['Age','Salary'])

2. Handle missing data

a. drop entire row: df.dropna(subset=['Age'])

b. fill the null value with constant or mean or median or mode: df.fillna({'Age':45})

3.Fix inconsistent values

df['Education Level']=df['Education Level'].replace(
{"Bachelor's":"BACHELORS"},
{"Master's":"MASTERS"}
)

4.Standardize Text

df['Gender']=df['Gender'].str.upper()
print(df.to_string())

5. Fix data types

df['Legendary']=df['Legendary'].astype(bool)

6.Remove duplicate values
df=df.drop_duplicates()
print(df.to_string()

'''

'\n1. Drop irrelevant columns\n\ndf.drop(columns=[\'Age\',\'Salary\'])\n\n2. Handle missing data\n\na. drop entire row: df.dropna(subset=[\'Age\'])\n\nb. fill the null value with constant or mean or median or mode: df.fillna({\'Age\':45})\n\n3.Fix inconsistent values\n\ndf[\'Education Level\']=df[\'Education Level\'].replace(\n{"Bachelor\'s":"BACHELORS"},\n{"Master\'s":"MASTERS"}\n)\n\n4.Standardize Text\n\ndf[\'Gender\']=df[\'Gender\'].str.upper()\nprint(df.to_string())\n\n5. Fix data types\n\ndf[\'Legendary\']=df[\'Legendary\'].astype(bool)\n\n6.Remove duplicate values\ndf=df.drop_duplicates()\nprint(df.to_string()\n\n'